html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif ;
}

#marcus, #equipe, #rejoindre, #produits, #contact{
    background: #ffffff; 
    margin-left: 5%;
    margin-right: 5%;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 60px;
    color: #67504B;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border-left: 5px solid #C9A227; 
}

#marcus {
  display: flex;
  align-items: center;
  gap: 30px;
}

.texte {
  flex: 1;
}

#marcus img {
  width: 300px;
  height: auto;
}


#accueil{
   background: linear-gradient(rgba(0, 0, 0, 0.687), rgba(0, 0, 0, 0.744)),
                url('images/presentation.jpeg');
    background-size: cover;
    background-position: center;
}

#accueil h1 {
    font-size: 4.5rem ;
    margin: 0;
    letter-spacing: 3px;
    color: #ffffff;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    font-weight: bold;
    text-align: center;
    padding: 18%;
    margin-bottom: 2%;
}
   

#marcus h2,
#equipe h2,
#rejoindre h2,
#produits h2,
#contact h2{
    color: #C9A227;
}


#menu:hover{
    color: #C9A227;
}

#menu a{
    color: #C9A227;
    text-decoration: none;
    transition: color 0.3s ease;
}

#menu {
    padding: 15px;
    display: flex;
    color: #67504B;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#equipe{
    display: flex;
    flex-direction: column;
}




.section-blanche {
    background-color: #E8E8E8;
    color: #67504B;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 30px
}

.section-blanche p,
.section-blanche h3{
    margin-left: 10%;
}

.section-blanche img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 8%;
    
}

.manon, .madeline, .leanne, .chloe{
    width: 80%;
}




