html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif ;
}

#accueil{
   background: linear-gradient(rgba(0, 0, 0, 0.687), rgba(0, 0, 0, 0.744)),
                url('images/presentation.jpeg');
    background-size: cover;
    background-position: center;
}

#accueil h1 {
    font-size: 4.5rem ;
    margin: 0;
    letter-spacing: 3px;
    color: #ffffff;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    font-weight: bold;
    text-align: center;
    padding: 18%;
    margin-bottom: 2%;
}
   

#marcus h2,
#equipe h2{
    text-align: center;
    color: #C9A227;
}


#menu:hover{
    color: #C9A227;
}

#menu a{
    color: #C9A227;
    text-decoration: none;
    transition: color 0.3s ease;
}

#menu {
    padding: 15px;
    display: flex;
    color: #67504B;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#equipe{
    display: flex;
    flex-direction: column;
}


.section-marron{
    background-color: #67504B;
    color: #E8E8E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.section-blanche{
    background-color: #E8E8E8;
    color: #67504B;
    display: flex;
    align-items: center; 
    gap: 30px;
    padding: 10px;
}

.manon, .madeline, .leanne, .chloe{
    width: 80%;
}

.section-marron img{
    width: 200px;
    border-radius: 10px;
}

.section-blanche img{
    width: 200px;
    border-radius: 10px;
}



